
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
	<div class="container">
    <h1> Thank you for the order! Someone will contact you shortly with a Tiger in hand. </h1>
	</div>

</div>
</html>
