
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
	<div class="container">
    <h1> Welcome to Tiger Direct </h1>

		<a href='/allPokemon'> See All Pokemon </a>

    <h2> Order a Tiger </h2>
    <form action='/users/order'>
    <tiger type>
    <label> Size </label> <select name='tigerSize'>
      <option> Enormous </option>
      <option> Small Baby </option>
    </select>
    <br>
    <label> Zip Code </label>
    <input type='text' name='zip-code'/>
    <br>
    <input type='submit' value='Order' class='btn btn-success'>

		</h1>
	</div>

</div>
</html>
