
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
	<div class="container">
		<h1> Welcome to Tiger Direct </h1>

		<form action="/users/login" style='z-index: 9999999;'>
		<h2> Login to Begin </h2>
		<label>Username</label>
		<input type='text' name='username'/>
		<br>
		<label>Password</label>
		<input tyep='password' name='password'/>
		<br>
		<input type='submit' class="btn btn-success" type="button" value="Login">		</form>

		<H1>
		Or <a href='/signup'>Sign Up</a>
		</h1>
	</div>

</div>
</html>
