<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<div class="container">
<h1> Sign Up </h1>
<form action='users/signup'>
<label>Email</label>
<input email='username' type='text'/>
<br>
<label>Password </label>
<input name='password' type='password' />
<br>
<input type='submit'value='Sign Up' style='btn btn-success'/>
</form>
</div>
</html>
